@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: lato;
}

img {
  width: 300px;
  border-radius: 20px 0 0 20px;
}

body {
  background: linear-gradient(#a18cd1, #f8c0ea);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  border-radius: 20px;
  box-shadow: 0 2px 5px black;
}

form {
  width: 300px;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 0 20px 20px 0;
}

input, select {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  color: grey;
  font-size: 1.1em;
  padding: 5px;
}

select {
  padding-left: 2px;
}

option {
  background: black;
}

input[type="submit"]{
  background: #57b846;
  color: white;
  width: 120px;
  border-radius: 120px;
}

input[type="submit"]:hover {
  cursor: pointer;
  box-shadow: 0 0 5px white;
}